.contact{
    min-height: 100vh;
    width: 100%;
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
    background-color: rgba(0, 0, 0, 0.2);
}
.contact .contact-heading{
    font-size: 3rem;
    padding-top: 10rem;
    text-align: center;
}
.contact .contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}
.contact .contact-container .address-box{
    display: flex;
}
.contact .contact-container .address-box .text{
    padding-left: 1.5rem;
}
.contact .contact-container .address-box{
    display: flex;
}
.contact .contact-container .contact-form{
    width: 40%;
}
.contact .contact-container .contact-form form .contact-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact .contact-container .contact-form form .contact-box input,
.contact .contact-container .contact-form form .contact-box textarea{ 
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    border: 0;
    outline: none;
    border-bottom: 2px solid crimson;
    resize: none;
}



.contact .contact-container .contact-form form .contact-box span{
    position: absolute;
    left: 5px;
    top: 15px;
    pointer-events: none;
    text-transform: capitalize;
}

.contact .contact-container .contact-form form .contact-box input:focus ~ span,
.contact .contact-container .contact-form form .contact-box input:valid ~ span,
.contact .contact-container .contact-form form .contact-box textarea:focus ~ span,
.contact .contact-container .contact-form form .contact-box textarea:valid ~ span
{
    transition: 0.5s;
    transform: translateY(-25px);
}

.btn{
    padding: 1rem 2rem;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.btn:hover{
    color: black;
}
.contact .social-media{
    text-align: center;
    position: relative;
}
.contact .social-icon{
    text-align: center;
    padding: 1rem 0;    
}
.contact .social-icon span{
     font-size: 3rem;
     padding: 1rem;
     color: crimson;
     cursor: pointer;
}
.contact .social-media::after{
    content: '';
    position: absolute;
    top: 35px;
    left: 37%;
    background-color: brown;
    height: 2px;
    width: 17rem;
}
.copyright{
    font-size: 1.3rem;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem 0;
}


/*Responsive area*/
@media only screen and (max-width: 768px) {   
    
    .contact .contact-heading{
        font-size: 2rem;
        padding-top: 6rem;    
    }
    .contact .contact-container{    
        padding: 4rem;
    }
   
    .contact .contact-container .address-box .text{
        padding-left: 1.3rem;
    }

    .btn{
        padding: .9rem 1.8rem;       
    }
     
    .contact .social-icon{     
        padding: .9rem 0;     
    }
    .contact .social-icon span{
         font-size: 2.5rem;
         padding: .9rem;
          
    }
    .contact .social-media::after{
        left: 30%;  
        width: 17rem;
    }   
    .copyright{
        font-size: 1.1rem; 
        padding: .9rem 0;
    }
   
}

/*Extra Small Device*/
@media only screen and (max-width: 600px) {
    .contact{    
        clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);    
    }
    .contact .contact-heading{
        font-size: 1.8rem;
        padding-top: 7rem;
    }
    .contact .contact-container{
        flex-direction: column;    
    }
    .contact .contact-container .address-box .text{
        padding-left: 1rem;
    }
    
    .btn{
        padding: .8rem 1.7rem;
        
    }
    .contact .social-icon{    
        padding: .8rem 0;     
    }
    .contact .social-icon span{
         font-size: 2rem;
         padding: .8rem;         
    }
    .contact .social-media::after{
        left: 25%;        
    }
    .copyright{
        font-size: 1rem;  
        padding: .8rem 0;
    }  
    
}
  